.Layout {
   display: flex;
   /* background: url(https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=755&q=80)
      no-repeat center center; */
   background: var(--bg-image) no-repeat center center;
   background-size: cover;
   transition: background-image linear 0.3s;
}
.Main {
}
