.Nav {
   margin-top: 10px;
   padding-top: 10px;
   height: 546px;
   overflow: auto;
   margin-right: 4px;
   flex: 1;
}

.Nav::-webkit-scrollbar {
   width: 6px;
   background-color: var(--transparent-color);
}
.Nav::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background-color: var(--sidebar-icon-color);
}
