.Header {
   font-size: 15px;
   padding: 14px 16px;
   display: flex;
   align-items: center;
   height: 56px;
}
.Icon {
   width: 28px;
   margin-right: 6px;
   cursor: pointer;
}
.DropDownMenu {
   --time-transition: 0.3s;
   margin-bottom: 20px;
}
.Menu {
   position: absolute;
   width: 100%;
   padding: 0 16px;
}
.MenuBackground{
   display: flex;
   flex-wrap: wrap;
   margin: 0 -4px;
}
.MenuBackground div {
   margin-bottom: 8px;
   flex-basis: 50%;
   padding: 0 4px;
}
.MainMenuEnter {
   transform: translateX(-50%);
   opacity: 0;
}
.MainMenuEnterActive {
   transform: translateX(0);
   opacity: 1;
   transition: all var(--time-transition) linear;
}
.MainMenuExit {
   opacity: 1;
}
.MainMenuExitActive {
   opacity: 0;
   transition: all var(--time-transition) linear;
}
.SubMenuEnter {
   transform: translateX(50%);
   opacity: 0;
}
.SubMenuEnterActive {
   transform: translateX(0);
   opacity: 1;
   transition: all var(--time-transition) linear;
}
.SubMenuExit {
   opacity: 1;
}
.SubMenuExitActive {
   opacity: 0;
   transition: all var(--time-transition) linear;
}
