.NavLink {
   text-transform: capitalize;
   display: block;
   padding: 5px 20px;
   line-height: 1.5;
   transition: all linear 0.1s;
   font-weight: var(--fw-low-level);
}
.NavLink:active,
.NavLink:hover {
   background-color: var(--hover-nav-color);
}

.NavLink.active {
   color: var(--primary-color);
}
