.Modal {
   position: fixed;
   z-index: 500;
   background-color: var(--task-adding-input);
   width: 70%;
   left: 50%;
   top: 76px;
   box-sizing: border-box;
   transition: all 0.3s linear;
   border-radius: 10px;
   overflow: hidden;
}

@media (min-width: 600px) {
   .Modal {
      width: 400px;
      left: 50%;
   }
}
