.Button {
   display: inline-block;
   padding: 0 32px;
   color: var(--primary-color);
   background-color: var(--bg-theme-color);
   border-radius: 20px;
   line-height: 39px;
   cursor: pointer;
   transition: all linear 0.1s;
   user-select: none;
}
.Button.ButtonMail {
   position: absolute;
   top: 86px;
   left: 102px;
   padding: 7px 14px;
   line-height: 1;
   opacity: 1;
   transition: all linear 0.3s;
}
.Button.ButtonMail.ButtonVisi {
   top: 39px;
   opacity: 0;
}
.ButtonStart {
   transition: all linear 0.1s;
}
.Button:active {
   transform: translateY(2px);
   box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 1);
}
.ButtonShadow {
}

.Button.Disabled {
   color: var(--sidebar-icon-color);
   cursor: not-allowed;
}
.Button.Disabled:active {
   transform: none;
   box-shadow: none;
}

.Button.ButtonPopup {
   background-color: var(--bg-first-visit);
   padding: 8px 15px;
   line-height: 1;
   margin-bottom: 10px;
   font-weight: 700;
}
