.Header {
   position: fixed;
   right: 80px;
   top: 3px;
   display: flex;
   align-items: center;
}

.HeaderItems {
   display: flex;
   padding: 0 20px;
   border-radius: 20px;
   background-color: var(--bg-theme-color);
   align-items: center;
   margin: 0 22px;
}
.Item {
   cursor: pointer;
   padding: 6px 11px;
}
.Icon {
   width: 24px;
   color: var(--text-color);
   transition: all linear 0.3s;
}
.Item:hover > .Icon {
   color: var(--primary-color);
}
