.TasksBar {
   position: fixed;
   left: 320px;
   top: 138px;
   display: flex;
   align-items: center;
}
.TasksBarItems {
   display: flex;
   padding: 0 20px;
   border-radius: 20px;
   background-color: var(--bg-theme-color);
   align-items: center;
}
.TasksBarItems h3 {
   font-size: 20px;
   color: var(--text-color);
   user-select: none;
}
.Item {
   cursor: pointer;
   padding: 6px 6px;
}
.Icon {
   width: 24px;
   color: var(--text-color);
   transition: all linear 0.3s;
   transform: rotateX(180deg);
}
.Icon.IconLoading {
   animation: iconRotate 0.5s ease-out forwards;
}
.Icon.Disabled {
   color: var(--sidebar-icon-color);
   pointer-events: none;
}
.Item:hover > .Icon.Disabled {
   color: var(--sidebar-icon-color);
}
.Item:hover > .Icon {
   color: var(--primary-color);
}
.Separate {
   width: 1px;
   background-color: #d8d8d8;
   height: 24px;
   margin: 0 10px 0 16px;
}

@keyframes iconRotate {
   to {
      transform: rotateY(180deg);
   }
}
