.TasksBuilder {
   position: relative;
   top: 200px;
   left: 40px;
   width: 900px;
   height: 455px;
   display: flex;
   align-items: stretch;
   justify-content: space-between;
}
.TasksWrapper,
.CalendarWrapper {
   width: 430px;
   background-color: var(--bg-theme-color);
   border-radius: 10px;
   /* padding: 26px 48px 14px 24px; */
}
