.TimeBar {
   height: 39px;
   padding-left: 20px;
   margin-right: 10px;
   border-radius: 20px;

   background-color: var(--bg-theme-color);
   color: var(--text-color);
   font-size: 18px;

   user-select: none;
}
.Time {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.Time h4 {
   margin-right: 11px;
   font-size: 18px;

   color: var(--text-color);
   transition: all linear 0.3s;
}

.Time span:nth-of-type(2),
.Time span:nth-of-type(3) {
   align-self: flex-end;
}
.WrapIcon {
   padding: 6px 11px;
   cursor: pointer;
}
.Icon {
   width: 24px;
   color: var(--text-color);
   transition: all linear 0.3s;
}
.Icon.Disabled {
   pointer-events: none;
   color: var(--sidebar-icon-color);
}
.WrapIcon:hover > .Icon {
   color: var(--primary-color);
}

.Icon.Stop {
   color: #fd2837;
}
.WrapIcon:hover > .Icon.Stop {
   color: #fd2837;
}
.WrapIcon:hover > .Icon.Disabled {
   color: var(--sidebar-icon-color);
}

h4.HighLight {
   color: var(--primary-color);
}
