.DropDown {
   text-transform: capitalize;
   font-size: 15px;
}

.DropDown:first-child {
   cursor: pointer;
}
.DropDown:first-child a {
   width: 100%;
   padding: 5px 0;
   margin-left: 20px;
   margin-right: 0;
   font-size: 20px;
   font-weight: var(--fw-high-level);
   text-transform: capitalize;
}
.DropDown:first-child .DropHeader {
   padding: 0;
}
.DropDown:first-child .DropHeader:hover {
   background-color: var(--hover-nav-color);
}
.DropHeader {
   display: flex;
   align-items: center;
   padding: 0 20px;
}
.DropBody {
   transition: height linear 0.3s;
   overflow-y: hidden;
}

.Heading {
   width: fit-content;
   font-size: 20px;
   font-weight: var(--fw-high-level);
   margin-right: 8px;
}
.Icon {
   width: 26px;
   color: var(--sidebar-icon-color);
   cursor: pointer;
   transform: translateY(1px);
   border-radius: 50%;
   transition: all linear 0.3s;
}

.Icon:hover {
   background-color: var(--hoversb-icon-color);
}
.DropDown.ShowDrop .Icon {
   transform: rotate(180deg);
}
