.DropDown {
   text-transform: capitalize;
   font-size: 15px;
}

.DropDown:first-child {
   cursor: pointer;
}
.DropDown:first-child h3 {
   width: 100%;
   margin: 0;
}
.DropDown:first-child h3:hover {
   background-color: #f6f6f6;
}
.DropHeader {
   display: flex;
   align-items: center;
   padding: 0 20px;
}
.DropBody {
   transition: height linear 0.3s;
   overflow-y: hidden;
}

.Heading {
   width: fit-content;
   font-size: 20px;
   font-weight: 600;
   margin-right: 10px;
}
.Icon {
   width: 28px;
   color: #9b9b9b;
   cursor: pointer;
   transform: translateY(1px);
   border-radius: 50%;
   transition: all linear 0.3s;
}

.Icon:hover {
   background-color: #c9c2c2;
}
.DropDown.ShowDrop .Icon {
   transform: rotate(180deg);
}
