@import "../node_modules/normalize.css/normalize.css";
*,
*::after,
*::before {
   box-sizing: border-box;
}
body {
   margin: 0;
   padding: 0;
   font-family: "Inter", sans-serif;
   overflow-y: hidden;
}
ul {
   padding: 0;
   list-style: none;
   margin: 0;
}
h1,
h2,
h3,
h4 {
   margin: 0;
   font-weight: 600;
}
img {
   display: block;
   width: 100%;
   height: auto;
}
a {
   color: #000;
   font-family: "Inter", sans-serif;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   margin: 0px;
   padding: 0px;
}
