/* normal mode */
.App {
   --bg-theme-color: #fff;
   --text-color: #030303;
   --text-nav-color: #030303;
   --fw-high-level: 600;
   --fw-medium-level: 500;
   --fw-low-level: 400;
   --hoversb-icon-color: #d8d8d8;
   --hover-nav-color: #f6f6f6;
   --sidebar-icon-color: #acacac;
   --main-icon-color: #030303;
   --primary-color: #0080ff;
   --tag-color: #f9d21f;
   --transparent-color: transparent;
}
/* Light mode */
.App.LightMode {
   --bg-theme-color: #fff;
   --text-color: #030303;
   --text-nav-color: #030303;
   --hoversb-icon-color: #d8d8d8;
   --hover-nav-color: #f6f6f6;
   --sidebar-icon-color: #acacac;
   --main-icon-color: #030303;
   --primary-color: #0080ff;
   --tag-color: #f9d21f;
   --bg-counter-color: #9b9b9b;
   --shadow-adding: 0px -4px 10px -3px var(--sidebar-icon-color);
   --bg-input-color: #fff;
}
/* Dark mode */
.App.DarkMode {
   --bg-theme-color: #161616;
   --text-color: #e4e4e4;
   --text-nav-color: #6f6f6f;
   --hoversb-icon-color: #424242;
   --hover-nav-color: #252525;
   --sidebar-icon-color: #6f6f6f;
   --main-icon-color: #e4e4e4;
   --primary-color: #0080ff;
   --tag-color: #f9d21f;
   --bg-counter-color: #a1a1a1;
   --shadow-adding: 0px -4px 10px -3px #030303;
   --bg-input-color: #424242;
}
