.WhiteBlock {
   width: 430px;
   background-color: var(--bg-theme-color);
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   /* padding: 26px 48px 14px 24px; */
}

@media (max-height: 670px) {
   .WhiteBlock.Custom {
      overflow: auto;
   }
}
